html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #1c1c1c;
    font-family: Roboto, Noto, sans-serif;
    font-size: 14pt;
    color: #ffffff;
}

text {
    fill: #ffffff;
}

text.debug {
    font-family: Menlo;
    font-size: 9pt;
}

.circle {
    fill: #1c1c1c;
}

.circle_scale {
    font-size: 65%;
}

g.idle path.graphic {
    stroke: #313131;
}

g.idle path.connector {
    stroke: #313131;
    stroke-width: 2;
}

g.active path.connector, g.active line.connector {
    stroke: #808080;
    stroke-width: 2;
}

marker path.connector {
    fill: #808080;
}

.idle circle, .idle line.connector {
    stroke: #313131;
    stroke-width: 2;
}

#summary_panel text.clock {
    fill: #b6b6b6;
}

text.refreshText {
    fill: #9f9f9f;
    font-size: 9pt;
}

text.overdue {
    stroke: #ff0c00;
    stroke-width: 1;
}

#inverter_panel tspan {
    font-size: 12pt;
}

#inverter_panel text.label {
    font-size: 14pt;
}

tspan.label, text.label {
    fill: rgb(163, 163, 163);
    font-weight: normal;
    font-size: 100%;
}

#summary_panel path {
    stroke-width: 2;
}

.idle text {
    fill: #313131;
}

.active text {
    fill: #ffffff;
}

.active circle {
    stroke-width: 2;
}

.graphic {
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: #1c1c1c;
}

.active circle#power_grid_circle, #power_grid.active path.graphic, #summary_panel path.graphic-grid {
    stroke: #e53935;
}

.active circle#power_battery_circle, #power_battery.active path.graphic, #summary_panel path.graphic-battery {
    stroke: #3949ab;
}

.active circle#power_solar_circle, #power_solar.active path.graphic, #summary_panel path.graphic-solar {
    stroke: #fdd835;
}

.active circle#power_home_circle, #power_home.active path.graphic, #summary_panel path.graphic-home {
    stroke: #00897b;
}